@media (max-width: 769px) {
    #wrap {
        padding: 0px 10px;
        /* padding-bottom: 150px; */
    }
}


@media (max-width: 575px) {
    #wrap .wrap-split {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    #wrap .wrap-split .sel-snb {
        flex-basis: 100%;
        min-height: 200px;
        margin-top: 20px;
        margin-left: 0px;
        margin: 20px 0px 15px 0px;
    }
}
