@media (max-width: 769px) {
    #wrap {
        /* margin-top: 50px; */
        margin-bottom: 50px;
        padding: 0px 17px;
    }
}



@media (max-width: 575px) {
    #wrap {
        flex-wrap: wrap;
    }

    #wrap .snb-wrap {
        width: 100%;
        padding: 15px 10px;;
    }

    #wrap .snb-wrap .snb-btn {
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.1s;
    }
}
