.article {
  border-bottom: 1px solid #cecece;
  // margin-right: 10px;
  min-height: 100px;
  display: flex;
  padding: 10px 0px;
  // padding-left: 0px;
  box-sizing: border-box;
}

.article:last-child {
  padding-bottom: 20px;
  border-bottom: 2px solid #cecece;
}

.article .img-repre {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.article .content {
  width: 100%;
  margin-left: 10px;
  position: relative;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.article .content .title {
  padding-right: 50px;
  font-size: 18px!important;
  font-weight: bold;
  line-height: 20px!important;
  cursor: pointer;
  transition: 0.1s;
}

.article .content .title:hover {
  color: #cecece;
}

.article .content .info {
  font-size: 14px;
  color: $gray2;
}

.article .content .info span.bold {
  font-weight: bold;
  color: $def;
}

.article .content .txt {
  // border: 1px solid blue;
  padding-right: 50px;
  max-width: 100%;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article .content .time {
  font-size: 14px;
  color: $gray2;
  position: absolute;
  top: 0px;
  right: 0px;
}