#wrap .list-header {

}

#wrap .list-header-line {
  border-bottom: 2px solid #cecece;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

#wrap .list-header .title {
  /*    float: right;*/
  font-size: 20px;
  font-weight: bold;
}

#wrap .list-header .btn-more {
  float: right;
  position: relative;
  top: 5px;
  /*    line-height: 30px;*/
}