
.paging-wrap {
  margin-top: 20px;
  display: flex;
  //    border: 1px solid blue;
  //    padding-bottom: -5px;
}

.paging-wrap .count {
  display: flex;
}

.paging-wrap .count div.btn {
  //    border: 1px solid blue;
  padding: 0px 10px;
  //    line-height: 50px;
  //    text-align: center;
  height: 17px;
  border-right: 1px solid $gray2;
  cursor: pointer;
}

.paging-wrap .count div.btn:last-child {
  border-right: 0px;
}

.paging-wrap .exten {}


/* v btn */

.paging-wrap .v-btn {
  margin-right: 0px;
}

.paging-wrap .elevator-btn {
  color: $main3!important;
}