.smlist {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.smlist .img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 8px;
}

.smlist .content {
  width: 100%;
}

.smlist .content p {
  font-size: 14px;
}

.smlist .content .title {
  font-size: 14px;
  font-weight: bold;
}