#wrap .snb {
  min-width: 260px;
  // height: 370px;
  // margin-left: 18px;
  padding-left: 20px;
}

@media (max-width: 769px) {
  #wrap .snb {
    width: 100%!important;
    // padding: 0px 10px;
    margin-left: 0px!important;
    // margin-bottom: 0px;
    padding-left: 0;
  }

  #wrap .snb .ad {
    height: 180px;
    margin-bottom: 15px;
  }
}