#wrap {
/*    border: 1px solid gray;*/
    margin-top: 50px!important; /* Header Height */
    padding-top: 10px!important; /* Wrap Breadcrumbs Distance */
}



/* Filter Section */

#wrap .sel-filter {
    padding-bottom: 20px;
    border-bottom: 2px solid #cecece;
}

#wrap .sel-filter h2 {
    margin: 20px 0px 20px 0px;
}

#wrap .sel-filter .filter {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
}

#wrap .sel-filter .filter div {
/*    border: 1px solid blue;*/
}

#wrap .sel-filter .filter .header {
    flex-basis: 100px;
    font-weight: bold;
}

#wrap .sel-filter .filter .content {
    width: 100%;
}

#wrap .sel-filter .filter .content span {
    display: inline-block;
    border-right: 1px solid #cecece;
    padding-right: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}

#wrap .sel-filter .filter .content span:first-child {
    padding-left: 0px;
}

#wrap .sel-filter .filter .content span:last-child {
    padding-right: 0px;
    border-right: 0px;
}

#wrap .sel-filter .filter .content span.active {
    font-weight: bold;
}

#wrap .sel-filter .filter .content span.disable {
    color: #cfcfcf!important;
    /* color: blue; */
    /* font-size: 30px; */
}

/* #wrap .sel-filter .filter .content i.count {
    font-size: 12px;
} */

#wrap .sel-filter button.button {
    width: 100px;
}


/* Paging Vutify Prop */
.paging-wrap-vuetify {
    float: left;
    margin-top: 15px;
}



/* Content Section */

#wrap .wrap-split {
    display: flex;
/*    padding-top: 10px;*/
}

#wrap .wrap-split .sel-content {
    width: 100%;
}

#wrap .wrap-split .sel-snb {
    /* flex-basis: 310px; */
    min-width: 240px;
    min-height: 350px;
    background-color: #ececec;
    margin-top: 10px;
    margin-left: 10px;
}


/* Search */

.search-wrap .search-form {
    width: 350px;
    /* max-height: 40px!important; */
    margin-top: 20px;
}


/* SNB */

#wrap .snb {
    min-width: 240px;
    margin-top: 10px;
    margin-left: 10px;
}












