$border: #cecece;
$main: #ff4e54;
$main2: #ff7b7f;
$def: #535353; // 밝기 좀 내렸음
$gray2: #7b7b7b;

@font-face {
  font-family: notoKr;
  src: local("../lib/font/NotoSansKR-Regular.otf");
}

body {
  margin: 0%;
  color: $def;
  font-family: notoKr, sans-serif !important;
  font-size: 16px;
}

p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 3px;
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 24px;
}

input {
  min-height: 30px;
}

button {
  min-height: 34px;
}

.btn-more {
  color: $border;
  transition: 0.1s;
  cursor: pointer;
}

.btn-more:hover {
  color: $def;
}

a {
  color: $def !important;
  text-decoration: none;
  transition: 0.1s;
  padding: 0px !important;
}

a:hover {
  color: #cecece !important;
}

a.actionDisabled:hover {
  color: $def !important;
}

input.input-text {
  height: 40px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid $border;
  padding-left: 10px;
}

button.btn-main-color {
  background-color: $main !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

// Frame
#wrap {
  max-width: 1040px;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}

// Gnb
@import "ui/gnb";

// Snb
@import "ui/snb";

// Setting Snb
@import "ui/settingSnb";

// Forms
@import "ui/forms";

// Small list
@import "ui/smlist";

// Article
@import "ui/article";

// Paging
@import "ui/paging";

// Liner
@import "ui/liner";

// Breadcrumb
@import "ui/breadcrumb";

// Footer
@import "ui/footer";