@font-face {
  font-family: notoKr;
  src: local("../lib/font/NotoSansKR-Regular.otf"); }
body {
  margin: 0%;
  color: #616161;
  font-family: notoKr, sans-serif !important;
  font-size: 16px; }

p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 3px; }

h2 {
  font-size: 20px; }

h1 {
  font-size: 24px; }

input {
  min-height: 30px; }

button {
  min-height: 34px; }

.btn-more {
  color: #cecece;
  transition: 0.1s;
  cursor: pointer; }

.btn-more:hover {
  color: #272727; }

/* Nuxt Componetns */
a {
  color: #616161 !important;
  text-decoration: none; }

a:hover {
  color: #7b7b7b; }

/* frames */
#wrap {
  max-width: 1040px;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 300px; }

/* GNB */
#gnb {
  border-bottom: 1px solid #cecece; }

#gnb .wrap {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0px 15px;
  font-size: 14px; }

#gnb .wrap .item {
  line-height: 40px;
  position: relative;
  top: 2px;
  cursor: pointer; }

#gnb .wrap .lft {
  float: left;
  margin-right: 10px; }

#gnb .wrap .mid {
  width: 500px;
  position: relative;
  left: 50%;
  margin-left: -223px; }

#gnb .wrap .rgt {
  float: right;
  margin-left: 10px; }

#gnb .wrap .logo {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold; }

#gnb .wrap .mid span {
  margin-right: 10px; }

#gnb .wrap .mid span:last-child {
  margin-right: 0px; }

#gnb .wrap .user-icon {
  width: 30px;
  height: 30px;
  background-color: #cecece;
  margin-top: 4px;
  border-radius: 100px;
  cursor: pointer; }

/* Forms */
#wrap input {
  /*    Example Test Form*/
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-sizing: border-box; }

#wrap .form {
  margin-bottom: 15px; }

#wrap .form-flex-full {
  width: 100%; }

#wrap .form .label {
  color: #717171;
  font-size: 14px;
  margin-bottom: 5px; }

#wrap .form input.size-sm {
  max-width: 120px; }

#wrap .form input.size-m {
  max-width: 200px; }

#wrap .form-flex {
  display: flex; }

#wrap .form-flex .form {
  margin-right: 20px; }

#wrap .form-flex .form:last-child {
  margin-right: 0px; }

/* Small list */
.smlist {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px; }

.smlist .img {
  height: 50px;
  min-width: 50px;
  background-image: url("../img/ex.jpg");
  background-size: cover;
  border-radius: 3px;
  margin-right: 8px; }

.smlist .content {
  width: 100%; }

.smlist .content p {
  font-size: 14px; }

.smlist .content .title {
  font-weight: bold; }

/* Article */
.article-list {
  border-bottom: 1px solid #cecece;
  margin-right: 10px;
  min-height: 100px;
  display: flex;
  padding: 10px;
  padding-left: 0px;
  box-sizing: border-box; }

.article-list:last-child {
  border-bottom: 2px solid #cecece; }

.article-list .img-repre {
  min-width: 80px;
  height: 80px;
  background-color: #cecece;
  border-radius: 5px; }

.article-list .content {
  width: 100%;
  margin-left: 10px;
  position: relative; }

.article-list .content .title {
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s; }

.article-list .content .title:hover {
  color: #cecece; }

.article-list .content .info {
  font-size: 14px;
  color: #7b7b7b; }

.article-list .content .info span {
  font-weight: bold;
  color: #616161; }

.article-list .content .txt {
  font-size: 14px; }

.article-list .content .time {
  font-size: 14px;
  color: #7b7b7b;
  position: absolute;
  top: 0px;
  right: 0px; }

/* Paging List */
.paging-wrap {
  margin-top: 30px;
  display: flex; }

.paging-wrap .count {
  display: flex; }

.paging-wrap .count div {
  padding: 0px 10px;
  height: 17px;
  border-right: 1px solid #7b7b7b;
  cursor: pointer; }

.paging-wrap .count div:last-child {
  border-right: 0px; }

/*# sourceMappingURL=common.css.map */
