#banner {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 50px;
/*    background-color: #b4b4b4;*/
}

#banner .banner-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-image: url('~assets/img/banner_4.jpeg'); */
    background-image: url('~assets/img/main-banner.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
/*    filter: grayscale(0.5)*/
}

#banner .wrap {
    max-width: 700px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    position: relative;
    height: 100%;
    z-index: 0;
}

#banner .wrap .form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}

#banner .wrap .form h1 {
    margin-right: -10px;
    width: 130px;
    position: relative;
    top: -13px;
    color: white;
    cursor: default;
}

#banner .wrap .form .form-input {
    display: flex;
    width: 100%;
}

#banner .wrap .form .form-input .filter {
    max-width: 130px;
    /* flex-basis: 100px; */
}

#banner .wrap .form input {
    width: 100%;
    position: relative;
}

#banner .wrap .form button {
    width: 60px;
    margin-left: 5px;
}

#banner .wrap .form .icon-search {
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#banner .wrap .content {
    /* font-family:cursive; */
    font-size: 40px;
    font-weight: 600!important;
    text-align: center;
    color: white;
    
    /* color: #f1ebe5; */
    /* text-shadow: 0 7px 8px #a81212, 0px -2px 1px #fff; */
    text-shadow: 0 6px 8px #333;

    position: relative;
    top: 90px;
    /* border: 1px solid blue; */
}



/* Wrap Category */

#wrap {
    /* margin-bottom: 50px!important; */
}

#wrap .section { /* Section 클래스는 매번 새로 만드는게 좋을둣. 이펙트가 계속 새로 들어가는데 이거 매우 나쁜현상임 */
    margin-top: 50px;
}

#wrap .section:first-child {
    margin-top: 0px;
}

#wrap .section-2 {
    display: flex;
}

#wrap .section-2 .section-wrap {
    width: 100%;
    padding-right: 20px;
}

#wrap .section .list {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

#wrap .section .list .item {
    width: 25%;
    box-sizing: border-box;
    padding: 0px 5px;
}

#wrap .section .list .item .img {
    object-fit: cover;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    cursor: pointer;
}

#wrap .section .list .item p {
    /* margin-top: 0px; */
    font-size: 14px;
}

#wrap .section .category {
    display: flex;
}

#wrap .section .category .list-wrap .list {
    margin-bottom: 20px!important;
}

#wrap .section .category .list-wrap .list a.item {
    /* width: 100%;
    display: inline-block;
    padding: 0px;
    margin-bottom: 5px;
    border: 1px solid blue; */
}

#wrap .section .category .list-wrap {
    flex-basis: 1200px;
    display: flex;
/*    border: 1px solid blue;*/
    flex-wrap: wrap;
}

#wrap .section .category .list-wrap .list {
    width: 33.3%!important;
    margin-bottom: 10px;
    margin-top: 0px;
}

#wrap .section .category .list {
    width: 100%;
    display: flex;
    flex-direction: column;
/*
    border: 1px solid gray;
    box-sizing: border-box;
*/
}

#wrap .section .category .list p {
    line-height: 22px;
    margin-top: 0px;
    padding: 0px;
    min-width: 100px;
/*    border: 1px solid gray;*/
}

#wrap .section .category .list .title {
    font-size: 20px;
    font-weight: bold;
}

#wrap .section .category .list .icon {
    font-size: 25px;
    color: #ff4e54;
    margin-top: -5px;
}


#wrap .section .category .list .sub {
    font-size: 14px;
    height: 25px;
    position: relative;
    top: -2px;
    margin-bottom: 3px;
}

#wrap .section .category .list .item {
    cursor: pointer;
    transition: 0.1s;
}

#wrap .section .category .list .item:hover {
    color: #cecece;
}

#wrap .section .category .list-famous {
    width: 100%;
}

#wrap .section .category .list-famous .smlist { 
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#wrap .section .category .list .empty-message {
    font-size: 14px;
    color: #8d8d8d;
    /* margin-top: 3px; */
}

#wrap .section .category .list-famous .smlist .content .title {
    font-size: 14px;
    margin-bottom: 0px;
}


/* Wrap Article */

#wrap .section .list-new {
    margin-top: 50px;
    
}

#wrap .section .article-new {
    display: flex;
    flex-wrap: wrap;
/*    max-height: 30px;*/
}



/* Wrap Snb Article */

#wrap .snb .content p {
    line-height: 25px;
}

#wrap .snb .content ul {
    /* margin-left: 20px; */
}

#wrap .snb .content li {
    max-width: 240px;
    line-height: 25px;
}























