#wrap {
    /* margin-top: 50px!important; */
    padding-top: 100px!important;
}



/* Info */

#wrap .info-wrap {
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    display: flex;
}

#wrap .info-wrap .img-profile {
    min-width: 180px!important;
    height: 180px!important;
    border-radius: 10%;
    margin-right: 25px;
}

#wrap .info-wrap .img-profile .present {
    object-fit: cover;
    width: 100%;
}

#wrap .info-wrap .table-wrap {
    width: 100%;
}

#wrap .info-wrap .table-wrap .table-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px!important;
}

#wrap .info-wrap .table-wrap .table {
    display: flex;
    margin-bottom: 10px;
}

#wrap .info-wrap .table-wrap .table .header {
    min-width: 30px;
    /* margin-right: 25px; */
    margin: 0px 25px 0px 0px;
    font-weight: bold;
    text-align: right;
}

#wrap .info-wrap .table-wrap .table .content {
    color: #6d6d6d;
}

#wrap .info-wrap .table-wrap .table .content .icon-vertify {
    /* background-color: #ff7b7f; */
    position: relative;
    top: -4px;
}

#wrap .info-wrap .table-wrap .table .highlight {
    color: #49c133;
    font-weight: bold;
}



/* Posts */

#wrap .posts-wrap {
    margin-top: 70px;
}

#wrap .posts-wrap h2 {
    line-height: 10px;
}

#wrap .liner {
    border-bottom: 2px solid #c1c1c1;
}

#wrap .article-wrap {
    padding-top: 10px;
}

















