#wrap {
    max-width: 600px;
    /* margin-top: 50px; */
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
}



/* Content */
#wrap .content-wrap {
    width: 100%;
    /* border: 1px solid blue; */
}

#wrap .content-wrap .content-title {
    font-size: 34px;
}

#wrap .content-wrap .content-sub {
    font-size: 18px;
    margin: 10px 0px 15px 0px;
    /* margin-bottom: 15px; */
}


/* Content Forms */
#wrap .content-wrap .form .img-profile {
    width: 120px;
    height: 120px;
    background-color: #ececec;
    border-radius: 10%;
}

#wrap .textarea {
    margin-top: -10px;
    margin-bottom: -20px;
}

#wrap .ele-last {
    /* margin-bottom: -10px; */
}


/* Components */
#wrap .alert {
  background-color: #4caf50;
  background-color: #e4f5e5;
  color: #4caf50;
  border-radius: 5px;
  padding: 10px 16px 8px 16px;
}

#wrap .alert .icon {
  position: relative;
  top: -2px;
  color: #4caf50;
}






















